<div class="contain-to-grid sticky">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="javascript:;"><%= i18n('homepage.name') %></a></h1>
    </li>
     <li class="toggle-topbar menu-icon"><a href="javascript:;"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="has-dropdown language">
        <a href="javascript:;">Manage dices</a>
        <ul class="dropdown manage-dices noselect">
          <li><a href="javascript:;"><input id="manage-d4" type="checkbox"><label for="manage-d4">Show d4</label></a></li>
          <li><a href="javascript:;"><input id="manage-d6" type="checkbox"><label for="manage-d6">Show d6</label></a></li>
          <li><a href="javascript:;"><input id="manage-d8" type="checkbox"><label for="manage-d8">Show d8</label></a></a></li>
          <li><a href="javascript:;"><input id="manage-d10" type="checkbox"><label for="manage-d10">Show d10</label></a></li>
          <li><a href="javascript:;"><input id="manage-d12" type="checkbox"><label for="manage-d12">Show d12</label></a></li>
          <li><a href="javascript:;"><input id="manage-d20" type="checkbox"><label for="manage-d20">Show d20</label></a></li>
          <li><a href="javascript:;"><input id="manage-d100" type="checkbox"><label for="manage-d100">Show d100</label></a></li>
          <li><a href="javascript:;"><input id="manage-fudge" type="checkbox"><label for="manage-fudge">Show fudge</label></a></li>
          <li><a href="javascript:;"><input id="manage-custom" type="checkbox"><label for="manage-custom">Show custom</label></a></li>
        </ul>
      </li>
      <li class="has-dropdown language">
        <a href="javascript:;">Language</a>
        <ul class="dropdown">
          <li><a href="javascript:;">En</a></li>
          <li><a href="javascript:;">Pt</a></li>
        </ul>
      </li>
      <li class="has-form">
        <input type="text" name="name" placeholder="<%= i18n('homepage.namePlaceholder') %>">
      </li>
    </ul>
  </section>
</nav>
</div>

<div class="row">
  <div class="panel callout">
    <div class="panel-content">
      <h5><%= i18n('homepage.title') %></h5>
      <p><%= i18n('homepage.description') %></p>

      <div class="row share-url">
        <div class="large-12 columns">
          <input type="text" onkeydown="event.preventDefault();event.stopPropagation();return false;" oncut="event.preventDefault();event.stopPropagation();return false;">
        </div>
      </div>
    </div>

    <a href="javascript:;" class="toggle-panel"><%= i18n('homepage.hideShow') %></a>
  </div>
</div>

<div class="row">

  <div class="large-6 columns">
    <table class="dices">
      <thead>
        <tr>
          <th><%= i18n('homepage.die') %></th>
          <th><%= i18n('homepage.nbr') %></th>
          <th class="text-center"><%= i18n('homepage.operator') %></th>
          <th><%= i18n('homepage.mod') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <tr>
        <form name="defaultForm">
          <input type="hidden" name="die" value="4" />

          <td><span class='sprite-dice d4-icon'></span></td>
          <td>
            <div class="mobile-width">
              <input type="text" name="number" placeholder="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="operators">
              <input type="radio" name="operator" value="P" checked="checked">
              <input type="radio" name="operator" value="M">
            </div>
          </td>
          <td>
            <div class="mobile-width">
              <input type="text" name="modifier" placeholder="0" />
            </div>
          </td>
          <td><input type="submit" class="button tiny" value="roll" /></td>
        </form>
        </tr>

        <tr>
        <form name="defaultForm">
          <input type="hidden" name="die" value="6" />

          <td><span class='sprite-dice d6-icon'></span></td>
          <td>
            <div class="mobile-width">
              <input type="text" name="number" placeholder="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="operators">
              <input type="radio" name="operator" value="P" checked="checked">
              <input type="radio" name="operator" value="M">
            </div>
          </td>
          <td>
            <div class="mobile-width">
              <input type="text" name="modifier" placeholder="0" />
            </div>
          </td>
          <td><input type="submit" class="button tiny" value="roll" /></td>
        </form>
        </tr>

        <tr>
        <form name="defaultForm">
          <input type="hidden" name="die" value="8" />

          <td><span class='sprite-dice d8-icon'></span></td>
          <td>
            <div class="mobile-width">
              <input type="text" name="number" placeholder="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="operators">
              <input type="radio" name="operator" value="P" checked="checked">
              <input type="radio" name="operator" value="M">
            </div>
          </td>
          <td>
            <div class="mobile-width">
              <input type="text" name="modifier" placeholder="0" />
            </div>
          </td>
          <td><input type="submit" class="button tiny" value="roll" /></td>
        </form>
        </tr>

        <tr>
        <form name="defaultForm">
          <input type="hidden" name="die" value="10" />

          <td><span class='sprite-dice d10-icon'></span></td>
          <td>
            <div class="mobile-width">
              <input type="text" name="number" placeholder="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="operators">
              <input type="radio" name="operator" value="P" checked="checked">
              <input type="radio" name="operator" value="M">
            </div>
          </td>
          <td>
            <div class="mobile-width">
              <input type="text" name="modifier" placeholder="0" />
            </div>
          </td>
          <td><input type="submit" class="button tiny" value="roll" /></td>
        </form>
        </tr>

        <tr>
        <form name="defaultForm">
          <input type="hidden" name="die" value="12" />

          <td><span class='sprite-dice d12-icon'></span></td>
          <td>
            <div class="mobile-width">
              <input type="text" name="number" placeholder="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="operators">
              <input type="radio" name="operator" value="P" checked="checked">
              <input type="radio" name="operator" value="M">
            </div>
          </td>
          <td>
            <div class="mobile-width">
              <input type="text" name="modifier" placeholder="0" />
            </div>
          </td>
          <td><input type="submit" class="button tiny" value="roll" /></td>
        </form>
        </tr>

        <tr>
        <form name="defaultForm">
          <input type="hidden" name="die" value="20" />

          <td><span class='sprite-dice d20-icon'></span></td>
          <td>
            <div class="mobile-width">
              <input type="text" name="number" placeholder="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="operators">
              <input type="radio" name="operator" value="P" checked="checked">
              <input type="radio" name="operator" value="M">
            </div>
          </td>
          <td>
            <div class="mobile-width">
              <input type="text" name="modifier" placeholder="0" />
            </div>
          </td>
          <td><input type="submit" class="button tiny" value="roll" /></td>
        </form>
        </tr>

        <tr>
        <form name="defaultForm">
          <input type="hidden" name="die" value="100" />

          <td><span class='sprite-dice d100-icon'></span></td>
          <td>
            <div class="mobile-width">
              <input type="text" name="number" placeholder="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="operators">
              <input type="radio" name="operator" value="P" checked="checked">
              <input type="radio" name="operator" value="M">
            </div>
          </td>
          <td>
            <div class="mobile-width">
              <input type="text" name="modifier" placeholder="0" />
            </div>
          </td>
          <td><input type="submit" class="button tiny" value="roll" /></td>
        </form>
        </tr>

        <tr>
        <form name="fudgeForm">
          <input type="hidden" name="die" value="6" />

          <td><span class='sprite-dice fudge-icon'></span></td>
          <td>
            <div class="mobile-width">
              <input type="text" name="number" placeholder="4" />
            </div>
          </td>
          <td class="text-center">
            <div class="operators">
              <input type="radio" name="operator" value="P" checked="checked">
              <input type="radio" name="operator" value="M">
            </div>
          </td>
          <td>
            <div class="mobile-width">
              <input type="text" name="modifier" placeholder="0" />
            </div>
          </td>
          <td><input type="submit" class="button tiny" value="roll" /></td>
        </form>
        </tr>

        <tr>
        <form name="defaultForm">
          <td>
            <div class="mobile-width">
              <input type="text" name="die" placeholder="1" />
            </div>
          </td>
          <td>
            <div class="mobile-width">
              <input type="text" name="number" placeholder="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="operators">
              <input type="radio" name="operator" value="P" checked="checked">
              <input type="radio" name="operator" value="M">
            </div>
          </td>
          <td>
            <div class="mobile-width">
              <input type="text" name="modifier" placeholder="0" />
            </div>
          </td>
          <td><input type="submit" class="button tiny" value="roll" /></td>
        </form>
        </tr>
        
      </tbody>
    </table>
  </div>

  <div class="large-6 columns">
    <div class="panel results hide">
      
    </div>
  </div>

</div>

<div class="row">
  <div class="large-12 columns">
  <div class="panel users hide">
  </div>
      
    </div>
    </div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p><%- i18n('homepage.madeBy') %></p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="javascript:;" onclick="window.open('http://www.facebook.com/share.php?u=http://whatsdice.com','','width=600,height=240');"><i class="fi-social-facebook"></i></a></li>
          <li><a href="javascript:;" onclick="window.open('http://twitter.com/share?text=<%= i18n('homepage.twitterText') %>&amp;url=http://whatsdice.com','','width=600,height=240');"><i class="fi-social-twitter"></i></a></li>
          <li><a href="https://www.digitalocean.com/?refcode=f09525ebd7ef" target="_blank"><img src="images/digitalocean.png"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>