<div class="contain-to-grid sticky">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><%= i18n('homepage.name') %></a></h1>
    </li>
     <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="has-dropdown language">
        <a href="javascript:;">Language</a>
        <ul class="dropdown">
          <li><a href="javascript:;">En</a></li>
          <li><a href="javascript:;">Pt</a></li>
        </ul>
      </li>
      <li class="has-form">
        <input type="text" name="name" placeholder="name to show on results">
      </li>
    </ul>
  </section>
</nav>
</div>

<div class="row">
  <div class="panel callout">
    <h5><%= i18n('homepage.title') %></h5>
    <p><%= i18n('homepage.description') %></p>
    <span class='share-url'></span>
  </div>

  <div class="large-6 columns">
    <table class="dices">
      <thead>
        <tr>
          <th><%= i18n('homepage.die') %></th>
          <th><%= i18n('homepage.nbr') %></th>
          <th class="text-center"><%= i18n('homepage.operator') %></th>
          <th><%= i18n('homepage.mod') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <tr>
        <form>
          <input type="hidden" name="die" value="4" />

          <td><img src="images/d4a.jpg" alt="d4" title="d4"></td>
          <td>
            <div class="mobile-width">
              <input type="text" name="number" placeholder="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="radio-width">
              <input type="radio" name="operator" value="P" checked="checked">
              <input type="radio" name="operator" value="M">
            </div>
          </td>
          <td>
            <div class="mobile-width">
              <input type="text" name="modifier" placeholder="0" />
            </div>
          </td>
          <td><input type="submit" class="button tiny" value="roll" /></td>
        </form>
        </tr>

        <tr>
        <form>
          <input type="hidden" name="die" value="6" />

          <td><img src="images/d6a.jpg" alt="d6" title="d6"></td>
          <td>
            <div class="mobile-width">
              <input type="text" name="number" placeholder="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="radio-width">
              <input type="radio" name="operator" value="P" checked="checked">
              <input type="radio" name="operator" value="M">
            </div>
          </td>
          <td>
            <div class="mobile-width">
              <input type="text" name="modifier" placeholder="0" />
            </div>
          </td>
          <td><input type="submit" class="button tiny" value="roll" /></td>
        </form>
        </tr>

        <tr>
        <form>
          <input type="hidden" name="die" value="8" />

          <td><img src="images/d8a.jpg" alt="d8" title="d8"></td>
          <td>
            <div class="mobile-width">
              <input type="text" name="number" placeholder="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="radio-width">
              <input type="radio" name="operator" value="P" checked="checked">
              <input type="radio" name="operator" value="M">
            </div>
          </td>
          <td>
            <div class="mobile-width">
              <input type="text" name="modifier" placeholder="0" />
            </div>
          </td>
          <td><input type="submit" class="button tiny" value="roll" /></td>
        </form>
        </tr>

        <tr>
        <form>
          <input type="hidden" name="die" value="10" />

          <td><img src="images/d10a.jpg" alt="d10" title="d10"></td>
          <td>
            <div class="mobile-width">
              <input type="text" name="number" placeholder="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="radio-width">
              <input type="radio" name="operator" value="P" checked="checked">
              <input type="radio" name="operator" value="M">
            </div>
          </td>
          <td>
            <div class="mobile-width">
              <input type="text" name="modifier" placeholder="0" />
            </div>
          </td>
          <td><input type="submit" class="button tiny" value="roll" /></td>
        </form>
        </tr>

        <tr>
        <form>
          <input type="hidden" name="die" value="12" />

          <td><img src="images/d12a.jpg" alt="d12" title="d12"></td>
          <td>
            <div class="mobile-width">
              <input type="text" name="number" placeholder="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="radio-width">
              <input type="radio" name="operator" value="P" checked="checked">
              <input type="radio" name="operator" value="M">
            </div>
          </td>
          <td>
            <div class="mobile-width">
              <input type="text" name="modifier" placeholder="0" />
            </div>
          </td>
          <td><input type="submit" class="button tiny" value="roll" /></td>
        </form>
        </tr>

        <tr>
        <form>
          <input type="hidden" name="die" value="20" />

          <td><img src="images/d20a.jpg" alt="d20" title="d20"></td>
          <td>
            <div class="mobile-width">
              <input type="text" name="number" placeholder="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="radio-width">
              <input type="radio" name="operator" value="P" checked="checked">
              <input type="radio" name="operator" value="M">
            </div>
          </td>
          <td>
            <div class="mobile-width">
              <input type="text" name="modifier" placeholder="0" />
            </div>
          </td>
          <td><input type="submit" class="button tiny" value="roll" /></td>
        </form>
        </tr>

        <tr>
        <form>
          <input type="hidden" name="die" value="100" />

          <td><img src="images/d100a.jpg" alt="d100" title="d100"></td>
          <td>
            <div class="mobile-width">
              <input type="text" name="number" placeholder="1" />
            </div>
          </td>
          <td class="text-center">
            <div class="radio-width">
              <input type="radio" name="operator" value="P" checked="checked">
              <input type="radio" name="operator" value="M">
            </div>
          </td>
          <td>
            <div class="mobile-width">
              <input type="text" name="modifier" placeholder="0" />
            </div>
          </td>
          <td><input type="submit" class="button tiny" value="roll" /></td>
        </form>
        </tr>
        
      </tbody>
    </table>
  </div>
  <div class="large-6 columns">
    <div class="panel results">
      <h5>Resultados da sala: <span class="room-name"></span></h5>
      <p>It has an easy to override visual style, and is appropriately subdued.</p>
    </div>
  </div>
</div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p><%- i18n('homepage.madeBy') %></p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="javascript:;" onclick="window.open('http://www.facebook.com/share.php?u=http://whatsdice.com','','width=600,height=240');"><i class="fi-social-facebook"></i></a></li>
          <li><a href="javascript:;" onclick="window.open('http://twitter.com/share?text=<%= i18n('homepage.twitterText') %>&amp;url=http://whatsdice.com','','width=600,height=240');"><i class="fi-social-twitter"></i></a></li>
          <li><a href="https://www.digitalocean.com/?refcode=f09525ebd7ef" target="_blank"><img src="images/digitalocean.png"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>